{% extends 'base.html.twig' %}

{% block title %}Accueil Site{% endblock %}

{% block body %}

<div class=>
    <h1 class="text-white my-4 text-center my-5">BIENVENUE SUR SIRH</h1>

    <div>
        <img src="{{ asset('images/fond_sirh.png') }}" class="d-block mx-auto" width="800" alt="image de fond SIRH">
    </div>

</div>
{% endblock %}
