<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-secondary">
<header class="header">
    <nav class="navbar container">
        <a href="#" class="nav__logo"><img src="{{ asset('images/logo_sirh2.png') }}" width="" alt="image logo" class="w-50"></a>
        <h1 class="h1 text-secondary">* SIRH *</h1>
        <ul class="nav-menu">
            <a href="{{ path('app_home') }}" class="nav-link">
                <li class="nav-item">Accueil</li>
            </a>
            <a href="#" class="nav-link">
                <li class="nav-item">Lien 2</li>
            </a>
            <a href="#" class="nav-link">
                <li class="nav-item">Lien 3</li>
            </a>
            <a href="#" class="nav-link">
                <li class="nav-item">Lien 4</li>
            </a>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
{% block body %}{% endblock %}
</body>
</html>
