<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="header">
    <nav>
        <div class="container">
            <h1 class="logo">Generic<span>Logo</span></h1>
            <ul class="site-nav">
                <li><a href="#"><i class="fa fa-home site-nav--icon"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-info site-nav--icon"></i>About</a></li>
                <li><a href="#"><i class="fa fa-pencil site-nav--icon"></i>Blog</a></li>
                <li><a href="#"><i class="fa fa-usd site-nav--icon"></i>Pricing</a></li>
                <li><a href="#"><i class="fa fa-envelope site-nav--icon"></i>Contact</a></li>
            </ul>

            <div class="menu-toggle">
                <div class="hamburger"></div>
            </div>
        </div>
    </nav>

</header>
{% block body %}{% endblock %}
</body>
</html>
